* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: 94vh;
}

.container {
  width: 40vw;
  height: 270px;
  background-color: rgb(189, 188, 186, 0.5);
  padding: 28px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  box-shadow: 0 10px 20px #000000;
}

.heading {
  color: #fcfcfc;
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 8px;
}

.form {
  text-align: center;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

input {
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  outline: none;
}

#output {
  width: 40vw;
  text-align: center;
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%);
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.btn {
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(224, 224, 224);
}

#justForFun {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50, -50%);
  color: white;
}
